* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timer {
  background-color: #222222;
  color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.timer.active {
  background-color: #444444;
}

.timer.inactive {
  background-color: #222222;
}

.time {
  font-size: 48px;
  font-weight: bold;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  height: 44px; /* Fixed height based on button height + vertical padding */
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #444444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #555555;
}

@media (orientation: portrait) {
  #player1 {
    transform: rotate(180deg);
  }
}